.app {
    background: #f1f1f1;
    display: grid;  
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto; 
}

.cabecalho {
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;

}

.rodape {
    background: #fdfdfd;
    color: #333;
    font-size: 0.8rem;
    grid-area: rodape;
    text-align: center;
}